<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>

	<form id="livroForm" th:action="@{/livros/(form)}" method="post" th:object="${livro}" action="#" >
		<input type="hidden"  th:field="*{id}" />
		Título:<input type="text" th:field="*{nome}" />
		<span  th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome Error</span><br/>
		Total de Páginas: <input type="text" th:field="*{quantidadePaginas}" />
		<span  th:if="${#fields.hasErrors('quantidadePaginas')}" th:errors="*{quantidadePaginas}">Quantidade de pagina Error</span><br/>
		<input type="submit" value="gravar" />
	</form>
</body>
</html>